### Rain in Australia
#### Predicting Next Day Rain in Australia

#### Dataset taken from https://www.kaggle.com/jsphyg/weather-dataset-rattle-package

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
raw_data_df = pd.read_csv("./RainInAustralia/weatherAUS.csv")

### Look at a sample of the data

In [3]:
raw_data_df.sample(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
16267,2012-04-05,Newcastle,17.4,26.5,0.0,NaN,NaN,NaN,NaN,NE,...,60.0,55.0,NaN,NaN,1.0,1.0,23.8,24.8,No,No
90393,2009-05-03,GoldCoast,15.4,25.1,0.0,NaN,NaN,SE,48.0,S,...,59.0,55.0,1023.8,1021.6,NaN,NaN,21.2,23.5,No,No
82703,2013-11-30,Dartmoor,9.4,22.0,0.4,4.4,13.0,ESE,39.0,ESE,...,71.0,56.0,1022.8,1019.9,NaN,NaN,14.2,21.0,No,No
136049,2017-06-04,Launceston,2.7,14.3,0.0,NaN,NaN,NNW,26.0,NaN,...,97.0,71.0,NaN,NaN,8.0,6.0,5.5,13.1,No,Yes
122298,2013-04-15,Perth,20.7,28.7,0.0,2.4,4.4,WSW,22.0,NaN,...,72.0,70.0,1015.5,1012.9,6.0,8.0,25.5,25.4,No,No
9222,2009-06-14,CoffsHarbour,3.6,19.0,0.0,1.6,7.9,SSW,54.0,NW,...,59.0,49.0,1016.5,1012.1,1.0,5.0,14.1,17.8,No,No
16477,2012-11-01,Newcastle,13.2,35.2,0.0,NaN,NaN,NaN,NaN,NE,...,54.0,19.0,NaN,NaN,5.0,8.0,23.2,33.5,No,No
45865,2008-08-05,Canberra,-1.9,10.9,0.0,1.8,4.2,S,50.0,NaN,...,78.0,72.0,1020.8,1019.2,3.0,8.0,5.5,7.2,No,Yes
98543,2014-10-30,Adelaide,10.9,28.2,0.0,4.0,NaN,W,28.0,SE,...,64.0,20.0,1016.8,1013.0,NaN,NaN,17.2,25.8,No,No
54747,2016-07-06,MountGinini,-2.3,3.8,16.2,NaN,NaN,SSE,57.0,SW,...,100.0,100.0,NaN,NaN,NaN,NaN,-1.0,3.0,Yes,Yes
124039,2009-07-28,SalmonGums,-0.4,16.5,0.2,NaN,NaN,WNW,22.0,WNW,...,75.0,43.0,NaN,NaN,NaN,NaN,8.8,16.3,No,No
53349,2012-07-10,MountGinini,-0.3,2.2,0.0,NaN,NaN,NNE,65.0,NNE,...,100.0,NaN,NaN,NaN,NaN,NaN,1.9,NaN,No,Yes
126904,2009-03-14,Walpole,8.2,22.2,0.0,NaN,NaN,ESE,44.0,ENE,...,77.0,51.0,1024.8,1021.6,NaN,NaN,13.2,20.6,No,No
28867,2013-11-25,Richmond,14.1,25.2,0.0,11.4,NaN,S,59.0,NaN,...,67.0,63.0,1008.3,1009.1,NaN,NaN,19.6,20.1,No,No
21639,2010-06-05,NorfolkIsland,18.0,22.4,15.8,3.0,4.7,NE,76.0,NNE,...,97.0,82.0,1008.0,1006.1,8.0,1.0,19.7,21.9,Yes,Yes
55973,2011-05-21,Ballarat,7.2,17.0,0.0,NaN,NaN,N,46.0,NNE,...,63.0,54.0,1020.9,1017.3,3.0,NaN,11.4,16.3,No,Yes
10884,2014-03-31,CoffsHarbour,20.1,25.8,5.6,4.4,8.2,ESE,28.0,SW,...,86.0,72.0,1021.2,1018.9,7.0,3.0,22.0,24.7,Yes,Yes
59782,2013-08-26,Bendigo,3.5,17.2,0.0,1.7,NaN,NNW,28.0,NaN,...,82.0,64.0,1025.6,1022.8,NaN,NaN,12.2,17.0,No,No
106145,2010-08-07,Woomera,2.9,17.8,0.0,1.8,10.5,NNW,44.0,NNE,...,62.0,25.0,1024.0,1019.5,1.0,0.0,8.2,17.0,No,No
42578,2009-01-01,Wollongong,17.2,32.3,0.0,NaN,NaN,SSE,70.0,ENE,...,56.0,51.0,1004.3,1000.3,NaN,NaN,23.3,25.8,No,No

#### RainTomorrow is the Target Variable which needs to be predicted

In [4]:
#### Lets study the other columns and decide which can be used as input features for our machine learning model
#### The Date column is different for each row of our data and we can safely exclude it for now
#### Lets print all the columns in the Dataframe
raw_data_df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

#### Lets look at Summary Statistics also known as FiveNum for each of the numeric columns

In [6]:
raw_data_df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

#### Lets look at presence of any missing or NULL values in any of the columns

In [5]:
raw_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

#### Our target variable seems to have NULL values in some of the rows. These rows cannot be used for Training the Model so we can exclude those rows

In [ ]:
raw_data_df = raw_data_df[]